<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Mi Estacionamiento</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi Estacionamiento <i class='bx bxs-car' ></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../mapa">Mapa</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% if (user) { %> 
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header">Editar Registro</div>
            <div class="card-body">
                <form action="/update" method="POST">
                    <input id="id_cliente" name="id_cliente" value="<% user.id_cliente %>" hidden> 
                    <div class="mb-3">
                        <label for="user" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" value="<% user.nombres %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Apellidos</label>
                      <input type="text" class="form-control" id="apellidos" name="apellidos" value="<% user.apellidos %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Rut</label>
                      <input type="text" class="form-control" id="rut_cliente" name="rut_cliente" value="<% user.rut %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Edad</label>
                      <input type="text" class="form-control" id="edad" name="edad" value="<% user.edad %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Direccion</label>
                      <input type="text" class="form-control" id="direccion" name="direccion" value="<% user.direccion %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Comuna</label>
                      <select id="comuna" name="comuna" class="form-select" tabindex="2">
                        <option value="seleccione comuna">Seleccione Comuna...</option>
                        <option value="Santiago">Santiago</option>
                        <option value="Conchali">Conchalí</option>
                        <option value="Huechuraba">Huechuraba</option>
                        <option value="Independencia">Independencia</option>
                        <option value="Quilicura">Quilicura</option>
                        <option value="Recoleta">Recoleta</option>
                        <option value="Renca">Renca</option>
                        <option value="Las Condes">Las Condes</option>
                        <option value="Lo Barnechea">Lo Barnechea</option>
                        <option value="Providencia">Providencia</option>
                        <option value="Vitacura">Vitacura</option>
                        <option value="La Reina">La Reina</option>
                        <option value="Macul">Macul</option>
                        <option value="Ñuñoa">Ñuñoa</option>
                        <option value="Peñalolen">Peñalolén</option>
                        <option value="La Florida">La Florida</option>
                        <option value="La Granja">La Granja</option>
                        <option value="El Bosque">El Bosque</option>
                        <option value="La Cisterna">La Cisterna</option>
                        <option value="La Pintana">La pintana</option>
                        <option value="San Ramon">San Ramón</option>
                        <option value="Lo Espejo">Lo Espejo</option>
                        <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
                        <option value="San Joaquin">San Joaquín</option>
                        <option value="San Miguel">San Miguel</option>
                        <option value="Cerrillos">Cerrillos</option>
                        <option value="Estacion Central">Estacion Central</option>
                        <option value="Maipu">Mapipú</option>
                        <option value="Cerro Navia">Cerro Navia</option>
                        <option value="Lo Prado">Lo Prado</option>
                        <option value="Pudahuel">Pudahuel</option>
                        <option value="Quinta Normal">Quinta Normal</option>
                      </select>                     
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Banco</label>
                      <select id="banco_cliente" name="banco_cliente" class="form-select" tabindex="2">
                        <option value="Banco de chile">Seleccione un Banco...</option>
                        <option value="Banco de chile">Banco de Chile</option>
                        <option value="Banco internacional">Banco Internacional</option>
                        <option value="Scotiabank">Scotiabank</option>
                        <option value="Banco de creditos e inversiones">BCI</option>
                        <option value="Corpbanca">Corpbanca</option>
                        <option value="Banco bice">Banco Bice</option>
                        <option value="HSBC bank">HSBC Bank</option>
                        <option value="Banco santander chile">Banco Santander Chile</option>
                        <option value="Banco itau chile">Banco Itaú Chile</option>
                        <option value="Banco security">Banco Security</option>
                        <option value="Banco fallabela">Banco Fallabela</option>
                        <option value="Deutsche bank">Deutsche Bank</option>
                        <option value="Banco ripley">Banco Ripley</option>
                        <option value="Rabobank chile">Rabobank Chile</option>
                        <option value="Banco consorcio">Banco Consorcio</option>
                        <option value="Banco penta">Banco Penta</option>
                        <option value="Banco paris">Banco Paris</option>
                        <option value="Banco bilbao vizcaya argentaria">Banco Bilbao Vizcaya Argentaria</option>
                        <option value="Banco btg pactual chile">Banco BTG Pactual Chile</option>
                      </select>                    
                    </div>
                    <div class="mb-3">
                      <label for="user" class="form-label">Tarjeta de Credito</label>
                      <input type="text" class="form-control" id="tarjeta_de_credito" name="tarjeta_de_credito" value="<% user.tarjeta_de_credito %>" tabindex="1">
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>