<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/indexhome.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class='bx bxs-car' ></i> Mi Estacionamiento </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./mapa">Buscar Estacionamiento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./">Arrendatarios</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br>
    <center><h1 style="color: white;" class="display-3">Bienvenida/o <i class='bx bx-party'></i></h1></center><br>
    <center><h2 style="color: white;" class="display-6">En esta página podrá encontrar estacionamiento cada vez que lo desee solo debe darle click en el apartado "Buscar Estacionamiento"</h2></center>
    <center><h1 style="color: white;" class="display-6">Desea <a href="/register">Registrarse</a> o <a href="/login">Iniciar Sesion</a></h1></center>
    <br><br>
    <center>
      <div class="card" style="width: 55rem;">
        <div class="card-body">
          <h5 class="display-5">¿Quienes Somos?</h5>
          <h6 class="display-6">Somos Sad WorldWide<i class='bx bx-moon' ></i> un Equipo de desarrolladores</h6>
          
        </div>
      </div>
    </center><br><br>
    <center><h6 style="color: white;" class="display-6">Equipo de trabajo:</h6></center>
    
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://lh5.googleusercontent.com/j31-T1smi9i6r1LPE12D0eamvSQ_erwLy2iTCRmwtUV7VLtvH8Xg8RBKeYzYG-4vcay-FVZVULsIIPeNyZ20=w1920-h961-rw" class="d-block w-100" alt="alda">
        </div>
        <div class="carousel-item">
          <img src="https://lh5.googleusercontent.com/sSS9N5DUJzOruuDvXNcnamNdqmes0Y5byiQ3e7RYPo3STpsoElZUloIRPSgtfIAej3mMO4qdGu-eB9HWK6hn=w1920-h961-rw" class="d-block w-100" alt="dayan">
        </div>
        <div class="carousel-item">
          <img src="https://lh3.google.com/u/1/d/1w2uRqebgonjR_C_ixfG1O3BbiBnxCY6r=w1920-h961-iv1" class="d-block w-100" alt="mage">
        </div>
        <div class="carousel-item">
          <img src="https://lh3.google.com/u/1/d/18MUn3nESONEOIZmG0BLogaG7CSvSVPVt=w1920-h961-iv1" class="d-block w-100" alt="edu">
        </div>
        <div class="carousel-item">
          <img src="https://lh3.google.com/u/1/d/1WUNN7yVpqGMt0ajmacg32jPj9mW7b53h=w1920-h961-iv1" class="d-block w-100" alt="diego">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>